<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edik Quiz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Edit Quiz</h1>
    <div>
        <form th:object="${quiz}" th:action="@{../savequiz}" action="#" method="post">
            <input type="hidden" id="id" th:field="*{id}" />
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" />
            <div style="clear: both; display: block; height: 10px;"></div>
    
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}" />
            <div style="clear: both; display: block; height: 10px;"></div>
    
            <label for="courseCode">Course Code</label>
            <input type="text" id="courseCode" th:field="*{courseCode}" />
            <div style="clear: both; display: block; height: 10px;"></div>
    
            <label for="published">Published?</label>
            <input type="checkbox" id="published" th:field="*{published}" />
            <div style="clear: both; display: block; height: 10px;"></div>
    
            <label for="categorylist">Category</label>
            <select id="categorylist" th:field="*{category}" class="form-control">
                <option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}">
                </option>
            </select>
            <!--have to add a boolean checklist for the publication status-->
            <input type="submit" value="Save"></input>
    
        </form>
    </div>
</body>