<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quizlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Quizlist</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th> <!-- descriptions will be formatted better later-->
            <th>Course code</th>
            <th>Publication status</th>
            <th>Category</th>
        </tr>
        <tr th:each="quiz : ${quizzes}">
            <td><a th:href="@{/quizzes/{id}/questions(id=${quiz.id})}" th:text="${quiz.name}"></a></td>
            <td th:text="${quiz.description}"></td>
            <td th:text="${quiz.courseCode}"></td>
            <td th:text="${quiz.published} ? 'Published' : 'Not published'"></td>
            <td th:text="${quiz.category.name}"></td>
            <td><a th:href="@{/quizzes/delete/{id}(id=${quiz.id})}">Delete</a></td>
            <td><a th:href="@{/quizzes/edit/{id}(id=${quiz.id})}">Edit</a></td>


        </tr>
    </table>
    <a th:href="@{/quizzes/createquiz}">Create Quiz</a>
    <a th:href="@{/createcategory}">Create Category</a>


</body>